{% extends 'base.html' %}
{% block title %}Редактирование аккаунта{% endblock title %}
{% block content %}
    <h2>Отредактировать свой аккаунт</h2>
    <form method="post", enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <p><input type="submit" value="Сохранить" class="btn btn-success ml-2"></p>
    </form>
{% endblock content %}
