.auth-social-button {
    background-color: white;
    border:2px solid grey;
    border-radius: 100px;
    box-shadow: 7px 5px 5px #707070;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    transition: background-color 500ms ease;
}

.auth-social-button:hover {
    background-color: hsl(0, 0%, 92%);
}

.auth-social-button:active {
    width: 40px;
    height: 40px;
    margin-left: 2px;
    margin-bottom: 1px;
    margin-top: 1px;
    margin-right: 13px;
    outline: none;
}

.auth-social-button:focus {
    outline: none;
}

.auth-social-block {
    margin-top: 40px
}

.auth-social-img {
    max-height:100%;
    max-width:100%;
    object-fit: contain;
}

.auth-social-img-vk {
    max-height:100%;
    max-width:100%;
    object-fit: contain;
    position: relative;
}