{% extends 'base.html' %}
{% block title %}Вход{% endblock title %}
{% load static %}
{% block content %}
    <h2>Вход</h2>
<!--    {% if form.errors %}-->
<!--        <p>Неверный логин и/или пароль.</p>-->
<!--    {% endif %}-->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="text" value="{{ next }}">
        <button class="btn btn-success ml-2" type="submit">Войти</button>
    </form>
    <div class="auth-social-block">
        <p>Войти с помощью аккаунта в социальной сети</p>
        <a  href="{% url 'social:begin' 'google-oauth2' %}">
            <button type="button" class="auth-social-button">
                <img src="{% static 'img/logos/Google__G__Logo.png' %}" alt="Google" class="auth-social-img">
            </button>
        </a>
        <a  href="#">
            <button type="button" class="auth-social-button">
                <img src="{% static 'img/logos/VK.com-logo.svg' %}" alt="VK" class="auth-social-img-vk">
            </button>
        </a>
        <a  href="#">
            <button type="button" class="auth-social-button">
                <img src="{% static 'img/logos/Facebook__F__Logo.png' %}" alt="Facebook" class="auth-social-img">
            </button>
        </a>
        <a  href="#">
            <button type="button" class="auth-social-button">
                <img src="{% static 'img/logos/Twitter__bird__Logo.png' %}" alt="Facebook" class="auth-social-img">
            </button>
        </a>
    </div>
    <p>
        <a href="{% url 'password_reset' %}">Забыли пароль?</a>
    </p>
{% endblock content %}
