{% extends 'base.html' %}
{% block title %}Восстановление пароля{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Подтвердите ваш новый пароль</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <inpit class="btn btn-success" type="submit" value="Сменить пароль">
        <button class="btn btn-success ml-2" type="submit">Сменить пароль</button>
    </form>
{% endblock content %}
