{% extends 'base.html' %}
{% block title %}Смена пароля{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Смена пароля</h1>
    <p>Пожалуйста введите старый пароль, для безопасности личных данных, никому не говорите пароль</p>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <inpit class="btn btn-success" type="submit" value="Сменить пароль">
        <button class="btn btn-success ml-2" type="submit">Сменить пароль</button>
    </form>
{% endblock content %}
