{% extends 'base.html' %}
{% block title %}Восстановление пароля{% endblock title %}
{% block content %}
    <h1>Проверьте вашу почту</h1>
    <p>На вашу почту отправлена инструкция по сбросу пароля</p>
{% endblock content %}
