{% extends 'base.html' %}
{% block title %}Восстановление пароля{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Восстановление пароля</h1>
    <p>Введите ваш почтовый адрес для получения инструкций для сброса пароля</p>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <inpit class="btn btn-success" type="submit" value="Отправить">
        <button class="btn btn-success ml-2" type="submit">Отправить</button>
    </form>
{% endblock content %}
