{% extends 'base.html' %}
{% block title %}Восстановление пароля{% endblock title %}
{% block content %}
    <h1>Сброс пароля прошёл успешно</h1>
    <p>Ваш пароль был сброшен. Авторизуйтесь с новыми данными.</p>
    <a href="{% url 'login' %}">Авторизоваться</a>
{% endblock content %}
