{% extends 'base.html' %}
{% block title %}Регистрация{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>Регистрация</h2>
    <form method="post">
        {{ user_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Зарегистрироваться" class="btn btn-success ml-2"></p>
    </form>
{% endblock content %}
