{% extends 'base.html' %}
{% block title %}Регистрация{% endblock title %}
{% block content %}
    <h1>Добро пожаловать, {{ new_user.username }}!</h1>
    <p>Ваш аккаунт был успешно создан. Теперь Вы можете <a href="{% url 'login' %}">Войти</a>.</p>
{% endblock content %}