{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <meta name="google-signin-client_id" content="599844336217-ltejk8nr3se3f9f9ra6d8gnipti55677.apps.googleusercontent.com">-->
    <title>{% block title %}Магазин игр{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
      <a {% if request.path == '/' %} class="navbar-brand mb-0 h1" style="border:2px solid Black; border-radius: 5px; color:Black; background-color:White;"{% else %} class="navbar-brand" {% endif %} href="{% url 'home' %}">Магазин</a>
      {% if user.is_authenticated %}
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarsExample01" style="">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="navbar-brand"  href="{% url 'game_post_new' %}">Новый пост</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="{% url 'password_change' %}">Изменить пароль</a>
                <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
              </div>
            </li>
          </ul>
        </div>
      {% else %}
        <form class="form-inline ml-auto">
          <a href="{% url 'login' %}" class="btn btn-outline-secondary">Войти</a>
          <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Регистрация</a>
        </form>
      {% endif %}
    </nav>
    <div class="container">
      {% if messages %}
        <ul class="massages">
          {% for message in messages %}
            <li class="{{ massage.tags }}">
              {{ message|safe }}
              <a href="#">X</a>
            </li>
          {% endfor %}
        </ul>
        {% endif %}
      {% block content %}
      {% endblock content %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous" ></script>
</body>
</html>