{% extends 'base.html' %}

{% block content %}
    <div class="row">
        {% for post in object_list %}
            <div class="card mb-4 box-shadow col-md-4">
                <p class="text-muted">Дата публикации поста: {{ post.date }}</p>
                <h2>
                    <a href="{% url 'game_post_detail' post.pk %}" type="button" class="btn btn-dark btn-lg fs-3">{{ post.title }}</a>
                </h2>
                <img src="{{ post.image.url }}" width="300" class="img-thumbnail">
                <p class="lead">{{ post.short_description|truncatewords:30 }}</p>
                <p>Дата выхода: {{ post.release_date }}</p>
                <p>Разработчик: {{ post.developer }}</p>
                <p>Издатель: {{ post.publisher }}</p>
                <p>Жанр: {{ post.genre }}</p>
                <p>Цена: {{ post.price }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}