{% extends 'base.html' %}
{% block title %}Регистрация{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>Регистрация</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success ml-2" type="submit">Зарегистрироваться</button>
    </form>
{% endblock content %}
