{% extends 'base.html' %}
{% block content %}
    <h1>Удалить отзыв</h1>
    <form action="" method="post">
        {% csrf_token %}
        <p>Вы действительно хотите удалить отзыв "{{ review.review }}"?</p>
        <input type="submit" value="Удалить">
    </form>

{% endblock content %}