{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Редактировать пост</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Сохранить">
    </form>
{% endblock content %}