{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock title %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h2>{{ post.title }}</h2>
            <p class="text-muted">Дата публикации поста: {{ post.date }}</p>
        </div>
        <div class="card-body">
            <div>
                <div align="center">
                    <img src="{{ post.image.url }}" width="300" class="img-thumbnail" align="center">
                </div>
                <p>{{ post.short_description }}</p>
                <p>Дата выхода: {{ post.release_date }}</p>
                <p>Разработчик: {{ post.developer }}</p>
                <p>Издатель: {{ post.publisher }}</p>
                <p>Жанр: {{ post.genre }}</p>
                <p>Цена: {{ post.price }}</p>
            </div>
        </div>
        <div class="card-footer text-center text-muted">
            {% if user.is_authenticated %}
                <a href="{% url 'game_post_edit' post.pk %}">Редактировать пост</a> |
                <a href="{% url 'game_post_delete' post.pk %}">Удалить пост</a>
            {% endif %}
        </div>
    </div>
    <a class="btn btn-success ml-2" href="{% url 'review_new' post.pk %}">Новый отзыв</a>
    {% for review in post.reviews.all %}
        <div class="card">
            <div class="card-header">
                <p class="text-muted">{{ review.author }} | {{ review.date }}</p>
            </div>
            <div class="card-body">
                <p>{{ review.review }}</p>
            </div>
<!--            <div class="card-footer text-center text-muted">-->
<!--                {% if user.is_authenticated %}-->
<!--                    <a href="{% url 'review_edit' pk=post.pk  pk2=review.pk %}">Редактировать отзыв</a> |-->
<!--                    <a href="{% url 'review_delete' pk=post.pk pk2=review.pk %}">Удалить отзыв</a>-->
<!--                {% endif %}-->
<!--            </div>-->
        </div>
    {% endfor %}

{% endblock content %}