{% extends 'base.html' %}
{% block content %}
    <h1>Удалить пост</h1>
    <form action="" method="post">
        {% csrf_token %}
        <p>Вы действительно хотите удалить запись "{{ post.title }}"?</p>
        <input type="submit" value="Удалить">
    </form>

{% endblock content %}